[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"
python-dotenv = "*"
django-rest-swagger = "*"
psycopg2 = "*"
django-dotenv = "*"
python-decouple = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.10"